name: flutter_hud
description: A clean and lightweight progress HUD to show a running asynchronous task for Flutter.
version: 0.2.2
homepage: https://github.com/eyro-labs/flutter_hud

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.12.13+hotfix.5"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter